<div class="container">
  <form>
    <div class="form-group">
      <label >Nombre  </label>
      <input type="text" class="form-control"   placeholder="Armando">
    </div>
    <div class="form-group">
      <label >Apellidos </label>
      <input type="text" class="form-control"   placeholder="Guerra Segura">
    </div>
    <div class="form-group">
      <label >Correo Electronico </label>
      <input type="email" class="form-control"   placeholder="ejemplo@gmail.com">
    </div>
    <div class="form-group">
      <label >Edad </label>
      <input type="number" class="form-control"   placeholder="Calle de ejmplo">
    </div>
    <div class="form-group">
      <label>Departamento</label>
      <select name="departament" class="form-select" aria-label="Default select example">
        <option selected>Seleciona departamento</option>
        <option value="finance">Financiero</option>
        <option value="hr">Recursos Humanos</option>
        <option value="marketing">Marketing</option>
        <option value="commercial">Comercial</option>
        <option value="purchasing">Compras</option>
        <option value="logistics-operations"> Logística y Operaciones</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<!-- {{this.formRegsiter.value | json}} -->
