.container-buttons
  width: available
  display: flex
  justify-content: space-around

  margin-bottom: 1rem

  button
    background-color: black
    color: white
.container-charters
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  flex-wrap: wrap

  .charter
    margin-bottom: 0.5rem
    text-align: center
