<div class="main-container">
  <div class="form">
    <app-form-product class="form" (outputEventNewProduct)="lisenerNewProduc($event)"></app-form-product>
  </div>

  <!-- {{ this.products}} -->
  <div class="lists-container">

    <div class="list-products">
      <h2>Productos </h2>
      <app-list-products  [inputProducts]="products" (outEventSelectProduct)="lisenerBuyProduct($event)" ></app-list-products>
    </div>

    <div class="list-products-order">
      <h2>Productos comprados</h2>
      <app-list-products   [inputProducts]="productsBuyed" (outEventSelectProduct)="lisenerDeleteProduct($event)"></app-list-products>
    </div>

  </div>

</div>
