<!-- Componente saludo se ha visto la interpolación y el binding -->
<!-- <saludo></saludo> -->
<!-- <app-eventos></app-eventos> -->

<!-- 24 - Planteamiento compnente SUMAR  -->
<!-- <app-sumador></app-sumador> -->

<!-- 26 Plantemiento componente CRONOMETRO -->
<!-- <app-cronometro></app-cronometro>
<app-cronometro></app-cronometro>
<app-cronometro></app-cronometro> -->


<!-- 28 Evend Bidning $event -->
<!-- <app-eventos></app-eventos> -->

<!-- <app-calculadora></app-calculadora> -->

<!-- Input propiedad binding -->
<!-- <app-alerta [namePersoInput]='titulos[0]' subtitulo="subtitulo khe"></app-alerta>
<app-alerta [namePersoInput]='titulos[1]' subtitulo="subtitulo khe 2 "></app-alerta>
<app-alerta [namePersoInput]='titulos[2]' ></app-alerta>
<app-alerta></app-alerta>
{{titulos[0]}} -->


<!-- 35 Modificación del componente Sumar, con Input(property binding) -->
<!-- <app-sumador [a]='num[0]' [b]='num[1]'></app-sumador>
<app-sumador [a]='num[2]' [b]='num[3]'></app-sumador> -->

<!-- 37 Decorador @Output -->
<!-- <app-alerta [namePersoInput]='titulos[0]' subtitulo="subtitulo khe" (alertaPulsada)='onAlertaPulsada($event)' ></app-alerta>
<app-alerta [namePersoInput]='titulos[1]' subtitulo="subtitulo khe 2 "></app-alerta>
<app-alerta [namePersoInput]='titulos[2]' (alertaPulsada)='onAlertaPulsada($event)' ></app-alerta>
<app-alerta (alertaPulsada)='onAlertaPulsada($event)'></app-alerta> -->

<!-- 38 Planteamiento: Modificación componente crónometro con Decorador Output -->

<!-- <app-cronometro [valContador]='num[1]' (alertaEndCronometro)='onAlertaCronometroFinalizado($event)'></app-cronometro>
<app-cronometro [valContador]='num[2]' (alertaEndCronometro)='onAlertaCronometroFinalizado($event)'></app-cronometro>
<app-cronometro [valContador]='num[3]' (alertaEndCronometro)='onAlertaCronometroFinalizado($event)'></app-cronometro>
<app-cronometro  (alertaEndCronometro)='onAlertaCronometroFinalizado($event)'></app-cronometro> -->

<!-- 40 Two way Binding , doble enlace-->
<!--
<input type="text" [(ngModel)]="campoTexto">
<p>{{campoTexto}}</p>
<button (click)='onChangeValue()'> Cambiar valor variable</button> -->

<!-- asignamos variables de manera dianamia, es decir, no existe el atributo perosna,
  pero se lo podemos asignar y asi creamos el atributo, like diccionario  -->

<!--
<div>

  <input type="text" [(ngModel)]='persona.nombre'>
  <input type="text" [(ngModel)]='persona.apellidos'>
  <input type="text" [(ngModel)]='persona.edad'>
</div> -->
<!-- <p> Me llamo {{persona.nombre}} {{persona.apellidos}} y tengo {{persona.edad}} años</p>


<ul>
  Component app-root
  <li>Componente formulario</li>
  <li>Componente lista</li>
  <li>Modelo para cada tarea, componente?</li>
</ul> -->

<!-- To Do simple -->
<div>
  <app-formulario (eventNewTask)="lisenNewTask($event)"></app-formulario>
</div>
<div>
  ROOT
  {{tasks | json}}
  End list
</div>
<div>
  <app-lista [inputTasks]="tasks"></app-lista>
</div>

<!-- Ciclos de Vida de un componente -->
<!-- <app-ciclo-vida [inputTexto]="textoRoot"></app-ciclo-vida> -->
