<app-semaforo></app-semaforo>
ngStyle nos permite asignar estilos mas variables, dinamicos

<div>
  <input type="range" min="12" max="200" step="2" (change)="onChange($event)" >
</div>


<p [ngStyle]="propiedadesParrafo">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla,
  aspernatur voluptatem adipisci reprehenderit ad voluptas dolore tempora pariatur,
  atque quo, veniam itaque quidem praesentium sed neque repellendus assumenda corrupti esse.
</p>

<div>
  <button (click)="cambiaColor('v')"> Verde </button>
  <button (click)="cambiaColor('r')"> Rojo </button>
  <button (click)="cambiaColor('a')"> Amarillo </button>
</div>

<div>
  <input type="text" [(ngModel)]="propiedadesParrafo.color">
</div>

