
<!-- Directivas atributo (modifical estilos) -->

  <!-- ngStyle nos permite asignar estilos mas variables, dinamicos
  <div>
  <input type="range" min="12" max="200" step="2" (change)="onChange($event)" >
</div>


<p [ngStyle]="propiedadesParrafo">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla,
  aspernatur voluptatem adipisci reprehenderit ad voluptas dolore tempora pariatur,
  atque quo, veniam itaque quidem praesentium sed neque repellendus assumenda corrupti esse.
</p>

<div>
  <button (click)="cambiaColor('v')"> Verde </button>
  <button (click)="cambiaColor('r')"> Rojo </button>
  <button (click)="cambiaColor('a')"> Amarillo </button>
</div>

<div>
  <input type="text" [(ngModel)]="propiedadesParrafo.color">
</div>

Directiva atributo ngClass
<app-semaforo></app-semaforo> -->


<!-- ***************************************************************************** -->

 <!-- Directiva Estrucural ngIf
, alternativa al CSS. En CSS no se pueden realizar estructuras condicionales -->

 <button (click)="onClickMostrar()"> Mostrar / Ocultar</button>
 <p *ngIf="mostrarParrafo; then mainBlock else elseBlock">Este es mi parrafo wey</p>

 <ng-template #mainBlock>
  <P>Primer parrafo wey, para el caso del THEN.</P>
  Me estoy mostrando poque mi expresion *ngIf es TRUE
 </ng-template>
 <ng-template #elseBlock>
   <P>Segundo parrafo wey, en el caso del ELSE.
    Me estoy mostrando poque mi expresion *ngIf es FALSE
   </P>
  </ng-template>
<hr>
  Alternativa mas limpia
  <p *ngIf="mostrarParrafo">Primer parrafo, easy wey</p>
  <p *ngIf="!mostrarParrafo">Segundo parrafo, easy win</p>
<hr>




<!-- ***************************************************************************** -->
<!-- <h2>Directiva ngFor</h2>
<app-bucles></app-bucles> -->

<!-- ***************************************************************************** -->

<!-- <hr>
<h2>Directiva ngSwitch</h2>
<app-switch></app-switch> -->

<!-- ***************************************************************************** -->
<h2>Directiva Personalizada </h2>
<p [appSubrayado]="{ sizeHover: '50px', sizeNoHover: ' 20px'}"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Assumenda non recusandae adipisci inventore culpa optio blanditiis</p>
<p  > Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Assumenda non recusandae adipisci inventore culpa optio blanditiis</p>
<p [appSubrayado]="{ sizeHover: '70px', sizeNoHover: ' 30px'}" > Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Assumenda non recusandae adipisci inventore culpa optio blanditiis</p>
