{{this.escritorID}}
<div class="buttons-pais">
  <button class="button" (click)="onAllEscritors()" > Todos</button>
  <div *ngFor="let pais of this.paises">
    <button class="button" (click)="onPais(pais)">{{pais}}</button>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
<!-- {{this.escritores | json}} -->
<div class="esritores">
  <div class="escritor" *ngFor="let escritor of this.escritores" [routerLink]="[escritor.id]">

    <!-- <a   (click)="this.getEscritorByID(escritor.id)"> -->
      <h3>{{escritor.nombre}}</h3>

        <img class="img-escritor" [src]="escritor.imagen">



    <h4>{{escritor.pais}}</h4>

  </div>
</div>

